.search-button {
  position: relative;
}

.double-30 {
  position: relative;
  display: flex;
  gap: 1.5rem;
  .search-icon {
    position: absolute;
    left: 20px;
    top: 25%;
    cursor: pointer;
    color: var(--background-color);
  }
  .password-icon {
    cursor: pointer;
    padding: 5px;
    position: relative;
  }
}

.row-3 {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.4fr;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
    padding: 5px;
}

.content.credentials-list {
 display: block;
}